<div class="container" style="width:1200px;">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Ngày sinh từ</label>
        <input  type="date" max="{{max | date:'yyyy-MM-dd'}}" min="{{min | date:'yyyy-MM-dd'}}" class="form-control" [(ngModel)]="valueBirthdayFrom" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Đến</label>
        <input  type="date" max="{{max | date:'yyyy-MM-dd'}}" min="{{min | date:'yyyy-MM-dd'}}" class="form-control" [(ngModel)]="valueBirthdayTo" />   
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Giới tính</label>
        <select class="form-control" type="" [(ngModel)]="gender">
          <option  [ngValue]="0" value="0"selected="selected">Chọn giới tính</option>
          <option *ngFor="let sl of select" [ngValue]="sl.id">{{sl.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <input type="text" class="form-control"placeholder="Tìm theo email,họ tên" [(ngModel)]="dataFind" (keydown.enter)="onKeydown($event)"/>
        <div class="input-group-append">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label *ngIf="checktime" style="margin-top:10p;color:red;">Thời gian tìm kiếm không hợp lệ!</label>
      <label *ngIf="checkbirthday" style="margin-top:10p;color:red;">Độ tuổi tìm kiếm trên 18 tuổi!</label>
      <label *ngIf="checkdatafind" style="margin-top:10p;color:red;">Không nhập ký tự đặc biệt !</label>
      <button [routerLink]="['/insertorupdateEmployee/','']" class="btn btn-primary mb-3 k-float-right"type="button">
        Thêm mới
      </button>
      <button style="margin-right:5px" type="button" class="btn btn-outline-secondary k-float-right" (click)="find()">Tìm kiếm</button>
    </div>
  </div>
  <div class="table-responsive">
    <kendo-grid
      [data]="dataResult"
      [pageable]="true"
      [pageSize]="state.take"
      [skip]="state.skip"
      (pageChange)="nextpage($event)">
      <kendo-grid-column  [width]="100" field="id" title="STT" [filterable]="false" >
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex"> {{rowIndex + 1}}</ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="fullname" title="Tên"  [filterable]="false" [sortable]="true" ></kendo-grid-column>
      <kendo-grid-column field="birthday"title="Ngày sinh" [filterable]="false" >
        <ng-template kendoGridCellTemplate let-dataItem>
          {{dataItem.birthday | date: 'dd/MM/yyyy'}}
        </ng-template>
      </kendo-grid-column >
      <kendo-grid-column  field="gender"title="Giới tính" [filterable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div *ngFor="let sl of select">
            <label *ngIf="sl.id == dataItem.gender">{{sl.name}}</label>
          </div>
        </ng-template>
      </kendo-grid-column >
      <kendo-grid-column field="phonenumber" title="Điện thoại" [filterable]="false" ></kendo-grid-column>
      <kendo-grid-column field="email" title="Email" [filterable]="false" ></kendo-grid-column>
      <kendo-grid-column field="id" title="Tác vụ"  [filterable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
          <input type="button" value="Sửa"[routerLink]="['/insertorupdateEmployee/',dataItem.id]" class="btn btn-primary" />
          <input style="margin-left:10px" type="button" value="Xóa" (click)="openConfirmationDialog(dataItem.id,dataItem.fullname)"  class="btn btn-danger" />
        </ng-template>
      </kendo-grid-column>
      <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
        <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
        <kendo-pager-numeric-buttons [buttonCount]="6"></kendo-pager-numeric-buttons>
        <kendo-pager-next-buttons></kendo-pager-next-buttons>
        <kendo-pager-info></kendo-pager-info>
     </ng-template>
      <kendo-grid-messages noRecords="Không có bản ghi nào phù hợp!">
      </kendo-grid-messages>
    </kendo-grid>
  </div>
</div>