
.mat-table {
    width: 100%;
  }

.mat-column-email {
    width: 100p0px;
    }
.myBtn:active{
    background-color: #dee2e6;
    }
.myBtn:visited{
    background-color: #dee2e6;
    }
