.sidebar-nav ul li a {
    font-size: 26px;
    text-decoration: none;
    display: block;
    padding: 6px 10px;
    transition: 0.5s;
}
.sidebar-nav ul li a:hover {
    background-color: #eeeeee;
    border-radius: 4px;
}
.sidebar-nav .offcanvas {
    width: 220px;
    border: none;
}
.sidebar-nav .offcanvas ul li a span {
    font-size: 18px;
    position: relative;
    top: -4px;
    transition: 0.5s;
}
.sidebar-nav .offcanvas.show ul li a:hover span {
    padding-left: 10px;
}
.sidebar-nav .dropdown-toggle::after {
    position: relative;
    top: 3px;
}
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before
{
    margin-right: 5px;
}
.toast-container {
    background-image: linear-gradient(purple,red) !important;
    border-radius: 22px !important; 
    box-shadow: -5px 8px 16px 0px rgba(0,0,0,0.3) !important;
    margin-bottom: 2px !important;
  }
  
  .toast-container .toast {
    margin: 2px !important;
    box-shadow: none !important;
    border-radius: 20px !important;
    background-color: #fff !important;
  }
  
  .toast-success{
    background-image: none !important;
  }
  
  .toast-success::after{
    content: '\f00c' !important;
    font-family: 'FontAwesome' !important;
    position: absolute !important;
    top: 14px !important;
    left: 15px !important;
    color: #333 !important;
    font-size: 1.5em !important;
  }
  
  .toast-title{
    color: purple !important;
    font-size: 16px !important;
  }
  
  .toast-message{
    color:#8f8f8f !important;
  }